@model Dimogir.Web.ViewModels.LessonListViewModel

<h1>Адский список уроков категории @Model.CategoryName</h1>

@foreach (var lesson in Model.LessonViewModels)
{
    <div>
        <a href="@Url.RouteUrl("ShowLesson", new {lessonKey = lesson.Key})">@lesson.Title</a>
        <div class="well well-sm">@lesson.Description</div>
    </div>
}